body {
	/* Background Image */
	background-image: url("../../media/img/backgrounds/mainmenu_bg.png");
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;
	
	/* Global Page Configs */
	margin: 0;
	font-family: 'Georgia', serif;
}

iframe {
	overflow: auto;
	border: none;
	width: 100%;
	height: 100%; 
}

#menu {
   	max-height: 200px;
	background-color: rgba(168, 160, 159, 0.75);
	padding: 10;
	font-size: 40px;
	color: firebrick;
}

#user_name {
	font-size: 25px;
}

#divider {
	border: medium solid #a69a96;
	outline: thin solid #5d5653;
}

#page_holder {
	height: auto;
}

#login, #account {
	float: right;
   	display: inline-block;
   	line-height: 10px;
   	padding: 12px;
}

#btn_login_menu, #btn_account_menu {
	height: 30px;
	width: 70px;
}

#login.hidden, #account.hidden {
    display: none;
}

.menubtn {
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
}

.mainbtns {
	margin: 30px;
	border: medium solid #a69a96;
  	outline: thin solid #5d5653;
  	width: 250px;
  	height: 200px;
  	padding: 10px;
  	text-align: center;
  	background-color: rgba(168, 160, 159, 0.75);
}

.labelBox {
  	padding-left: 25px;
  	text-align: left;
  	font-size: 18px;
  	font-weight: bold;
}

#home {
	padding: 20px;
}

#disclaimer {
    position: absolute;
    bottom: 10%;
    padding-left: 10px;
    width: 100%;
    background-color: rgba(168, 160, 159, 0.75);
}