body {
    overflow: visible;
    font-family: 'Georgia', serif;
    background-color: #414044;
    color: #f4f4f4;
    font-size: 20px;
}

.breaker_line {
    border: thin solid #b1a5b4;
}

.hidden {
    display: none;
}

h1 {
    font-size: 40px;
}

.field {
    height: 40px;
}

img {
    vertical-align: middle;
}

.sub_btn {
    padding-left: 50px;
}

.warning {
    margin-left: 10px;
    width: 400px;
    color: maroon;
    border: medium solid #776a65;
    outline: thin solid #413c3a;
    padding: 5px;
    text-align: center;
    background-color: rgba(120, 110, 108, 0.75); 
}

input[type="submit"], #btn_toggle_pfp {
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    background-color: #38383c;
    color: f4f4f4;
    border-color: #161619;
}

button:not(#btn_toggle_pfp) {
    margin: 4px 2px;
    background-color: #5e415f;
    border-style: ridge;
    border-color: #a06a91;
    color: #f4f4f4;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

#form_page {
    margin-bottom: 100px;
}

#pfpSelectHolder {
    margin-left: 100px;
}

.highlight {
    background-color: #cda7be !important;
}